#console {
	position: absolute;
	max-width: 500px;
	margin: 10px;
	padding: 10px;
	background-color: white;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#legend{
	width:100%;
	color: white;
}

#legend td {
	text-align: center;
}

#slider {
	width: 100%;
}
